spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://121.36.162.144:3306/hr?characterEncoding=utf8
    username: hr
    password: eplugger
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    #最大连接等待超时时间（毫秒）
    maxWait: 60000
    #打开PScache，并指定每个PScache连接的大小
    poolPreparedStatments: true
    maxPoolPreparedStatmentPerConnectionSize: 20
    #打开mergeSql功能，开启执行超5秒的sql记录
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        show_sql: true
        format_sql: false
upload:
  file:
    domain: #
    save-path: /home/upload
    img-path: /home/upload
message:
  webhook: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=a848116a-16de-4e0c-be3e-010e46e3523a
  urlPrefix: https://hr.sunaf.top/#/interview/view/